{% extends 'baselog.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="register" align="center">
    <div class="container mt-4">
        <form action="index.php?action=addMember" method="post">
            <div class="form-group">
                <input type="text" placeholder="Pseudo" id="pseudo" required name="pseudo" class="form-control">
            </div>
            <div class="form-group">
                <input type="email" placeholder="mail" id="mail" required name="mail" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Mot de passe" id="mdp" required name="mdp" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirmer mot de passe" id="mdp2" required name="mdp2" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" name="addMember" class="btn btn-success">Je crée mon compte</button>
            </div><br><br><br><br>
        </form>
    </div>
</div>
{% endblock %}