{% extends 'baseAdmin.html.twig' %}
{% block title %}Rédaction article{% endblock %}
{% block body %}

<div class="articlewrite">
    <h2>Bonjour cher admin</h2>
    <br />
    <h3><a href="index.php?action=homePage">Accueil</a></h3>
    <h3><a href="index.php?action=listArticlesAdmin">Gestion des articles</a></h3>
    <h3><a href="index.php?action=listCommentsAdmin">Gestion des commentaires</a></h3>
    <h3><a href="index.php?action=listUsersAdmin">Gestion des membres</a></h3>
    <br />
    <h1>Rédaction Articles : </h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <form class="form " method="post" action="index.php?action=articleWriting">
                <div class="control-group ">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <p>Choisissez une catégorie :</p>
                        <select class="form-control formcont mt-0 mb-2" name="id_category">
                            <option value="1">Activité</option>
                            <option value="2">Objectifs</option>
                            <option value="3">Astuces</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <input class="form-control input-lg formcont  mt-0 mb-0" type="text" placeholder="chapo" id="mini_content" name="mini_content" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <input class="form-control formcont mt-0 mb-0" type="text" placeholder="title" id="title" name="title" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <textarea class="mytextarea  formcont mt-0 mb-0" name="content" rows="5" cols="50" placeholder="Votre message"></textarea>
                    </div>
                </div>
                <button type="submit" name="send_article" class="btn btn-success mt-4">Envoyer article !</button><br><br>
            </form>
        </div>
    </div>
</div>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
{% block javascripts %}<script>
    tinymce.init({
        entity_encoding: "raw",
        selector: '.mytextarea',
        content_css: 'publics/css/style.css',
        language_url: 'https://olli-suutari.github.io/tinyMCE-4-translations/fr_FR.js',
        language: 'fr_FR'
    });
</script>{% endblock %}
{% endblock %}